/*---------------
Fonts
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,700;0,900;1,200&display=swap');
/*---------------
Global Css
----------------*/
:root {
  --main-color: #219a95;
  --color-1: #e3ad22;
  --color-2: #c9e1e5;
  --color-3: #15845b;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 10px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #757475;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: 'Nunito', sans-serif;
}
.section-padding {
  padding: 70px;
}
.section-title {
  padding-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.section-title h2 span {
  color: var(--black-900);
}
.section-title p {
  text-align: center;
}
.section-title p span {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 700;
}
.palabraBusqueda {
  text-align: center;
}
.btn-1 {
  background-color: var(--black-000);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-2 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--black-000);
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-3 {
  background-color: var(--black-400);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--black-000);
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-4 {
  background-color: var(--black-900);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--black-000);
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-5 {
  background-color: var(--black-000);
  padding: 12px 30px;
  border: 2px solid var(--black-000);
  border-radius: 30px;
  color: var(--black-900);
  font-size: 16px;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-6 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: 2px solid var(--black-000);
  border-radius: 30px;
  color: var(--black-000);
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-7 {
  background-color: var(--black-000);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-8 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: var(--black-000);
  font-size: 16px;
  text-align: center;
  transition: all 0.5s ease;
  font-weight: 200;
}
.btn-1:hover {
  color: var(--black-000);
  background-color: var(--main-color);
}
.btn-2:hover {
  color: var(--black-000);
  background-color: var(--black-900);
}
.btn-3:hover {
  color: var(--black-000);
  background-color: var(--black-900);
}
.btn-4:hover {
  color: var(--black-000);
  background-color: var(--main-color);
}
.btn-5:hover {
  color: var(--black-000);
  background-color: var(--black-900);
  border: 2px solid var(--black-000);
}
.btn-6:hover {
  color: var(--black-000);
  background-color: var(--black-900);
  border: 2px solid var(--black-000);
}
.btn-7:hover {
  color: var(--black-000);
  background-color: var(--black-900);
}
.btn-8:hover {
  color: var(--black-900);
  background-color: var(--black-000);
}
/*---------------
NavBar
----------------*/
.navbar {
  background-color: var(--black-900);
}
.navbar > container {
  padding: 0 15px;
}
.navbar .navbar-brand {
  color: var(--black-000);
  font-weight: 900;
  font-size: 30px;
}
.navbar .nav-item {
  margin-left: 20px;
}
.navbar .nav-item .nav-link {
  color: var(--black-000);
  font-weight: 200;
  padding: 5px;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--black-000);
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}
/*---------------
Home
----------------*/
.home {
  background-color: #dce3f0;
  min-height: 90vh;
  padding: 0;
}
/*---------------
Sidebar
----------------*/
.sidebar {
  font-size: 0.9rem;
  position: fixed;
  min-height: 80vh;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar .nav-link {
  font-weight: 200;
  color: var(--black-900);
}
.sidebar .nav-link.active {
  color: var(--main-color);
  font-weight: 700;
}
.sidebar .nav-link:hover {
  color: var(--main-color);
  font-weight: 700;
}
.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.sidebar i {
  color: var(--main-color);
  padding-right: 5px;
}
/*---------------
OfertasAbiertas
----------------*/
.ofertasAbiertas {
  margin: 10px;
  padding: 12px;
  background-color: var(--black-900);
  border-radius: 30px;
}
.ofertasAbiertas img {
  height: 80px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.ofertasAbiertas h1 {
  font-size: 27px;
  margin: 0;
}
.ofertasAbiertas i {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 8px;
}
.ofertasAbiertas h5 {
  color: var(--main-color);
  margin: 0;
  font-size: 19px;
}
.ofertasAbiertas button {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.descripcionOferta {
  border-left: 2px solid white;
  font-size: 12px;
  color: var(--black-000);
}
/*---------------
ofertarCaja
----------------*/
.ofertarCaja {
  background-color: var(--black-900);
  border: 2px solid var(--black-900);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: var(--black-000);
  padding: 20px;
}
.ofertarCaja i {
  position: relative;
  top: 2px;
}
.headerOfertar h3 {
  position: absolute;
  top: 20px;
  left: 120px;
}
.headerOfertar p {
  position: absolute;
  font-weight: 200;
  font-size: 14px;
  top: 50px;
  left: 120px;
}
.bodyOfertar {
  margin-top: 20px;
}
.bodyOfertar h3 {
  font-weight: 700;
  font-size: 22px;
}
.bodyOfertar p {
  font-weight: 200;
  font-size: 14px;
  text-align: justify;
}
.ofertarCajaW {
  background-color: var(--black-000);
  border: 2px solid var(--black-900);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--black-900);
  padding: 20px;
}
.ofertarCajaWa {
  background-color: var(--black-000);
  border: 2px solid var(--black-900);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--black-900);
  padding-top: 15px;
  padding-bottom: 15px;
}
.ofertarCajaW h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
}
.ofertarCajaW p {
  text-align: right;
  color: var(--black-400);
}
.profile {
  border-radius: 50%;
  height: 80px;
}
.badge {
  background-color: var(--main-color);
  color: var(--black-000);
  border: 2px solid rgba(255, 255, 255, 1);
  height: 25px;
  position: absolute;
  top: 25px;
  left: 75px;
}
.detalleOfertar {
  margin-top: 25px;
  margin-bottom: 20px;
  color: var(--main-color);
}
.detalleOfertar i {
  font-size: 40px;
  margin-bottom: 10px;
}
#myImg {
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {
  opacity: 0.7;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.closeX {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  transition: 0.3s;
}
.closeX:hover,
.closeX:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*---------------
Footer
----------------*/
.espacio {
  height: 40px;
  background-color: var(--black-000);
}
.footerQuidocu {
  background-color: var(--black-900);
  font-size: 14px;
  color: var(--black-000);
  padding: 30px 0 30px 0;
}
.footerQuidocu h3 {
  font-size: 16px;
}
.footerQuidocu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footerQuidocu ul li a {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
  line-height: 26px;
  display: block;
  transition: all 0.05s ease;
  text-decoration: none;
}
.footerQuidocu ul li a:hover {
  padding-left: 5px;
  font-weight: 700;
}
.botonDescarga {
  height: 60px;
  margin: 0;
  padding: 10px;
}
.copyright-text {
  text-align: center;
  padding-top: 30px;
}
/*---------------
Form
----------------*/
.form-group .href {
  text-decoration: none;
  margin: 21px;
  color: var(--main-color);
}
.form-group .href:hover {
  font-weight: 700;
}
.contact-form {
  margin-bottom: 20px;
  animation: fadeInRight;
  animation-duration: 2s;
}
.ubicacion-form {
  margin-bottom: 20px;
}
.ubicacion-form .form-control {
  height: 52px;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  padding: 0 24px;
  color: var(--black-400);
  background-color: var(--black-000);
}
.ubicacion-form .form-control:focus {
  border-color: var(--main-color);
  box-shadow: none;
}
.ubicacion-form textarea.form-control {
  height: 150px;
  padding-top: 12px;
  resize: none;
}
.iframeUbicacionoferta {
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact-form .form-control {
  height: 52px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 30px;
  padding: 0 24px;
  color: var(--black-400);
  background-color: var(--black-000);
  transition: all 0.5s ease;
}
.contact-form textarea.form-control {
  height: 150px;
  padding-top: 12px;
  resize: none;
}
.contact-form .form-control:focus {
  border-color: var(--main-color);
  box-shadow: none;
}
input[type='file'] {
  display: none;
}
.custom-file-upload {
  background-color: var(--black-000);
  box-shadow: var(--shadow-black-100);
  border: 1px solid transparent;
  border-radius: 30px;
  height: 140px;
  width: 260px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.custom-file-upload i {
  color: var(--main-color);
  font-size: 30px;
}
/*---------------
cardCuanto
----------------*/
.cardCuanto {
  background-color: var(--black-000);
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.nameCuanto {
  font-size: 12px;
  font-weight: 700;
}
.textCuanto {
  margin-top: -6px;
  font-size: 10px;
  font-weight: 200;
  color: var(--black-400);
}
.textCuanto span {
  color: var(--main-color);
  font-weight: 700;
}
.textCuanto .href {
  text-decoration: none;
}
.hour {
  font-size: 11px;
}
.ratings {
  font-size: 11px;
}
.ratings i {
  color: var(--main-color);
}
.experienciaCuanto i {
  color: var(--main-color);
}
.tomarOferta {
  margin-right: 10px;
}
.contenedorOferta {
  padding-right: 40px;
  height: 500px;
  border: 0;
  overflow-y: scroll;
  animation: fadeInRight;
  animation-duration: 2s;
}
.contenedorOferta h3 {
  color: var(--main-color);
  font-weight: 400;
}
/*---------------
Ingreso metodoPago
----------------*/
.contact-form h3 {
  color: var(--main-color);
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-form small {
  color: var(--black-400);
  font-weight: 200;
  font-size: 18px;
}
/*---------------
Login
----------------*/
.card {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(255, 255, 255) !important;
}
.social_icon {
  position: absolute;
  right: 22px;
  top: -28px;
}
.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: var(--main-color);
}
.social_icon span:hover {
  color: var(--black-900);
  cursor: pointer;
}
.card-header h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--black-400);
}
.input-group-prepend span {
  width: 50px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: var(--black-000);
  border: 0 !important;
}
.input-group-prepend i {
  margin-left: 8px;
}
.remember {
  color: var(--black-400);
  font-weight: 400;
  margin-bottom: 20px;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-right: 5px;
}
/*---------------
Responsive
----------------*/
@media (max-width: 991px) {
  .navbar-toggler {
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 16px;
    color: var(--black-000);
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .iconos-social {
    position: absolute;
    left: 145px;
  }
  .image-home img {
    width: 80%;
  }
  .buscar {
    margin: 0;
  }
  .buscar input {
    height: 70px;
    width: 700px;
  }
  .iconoInput {
    position: absolute;
    left: 50px;
    padding-top: 20px;
  }
  .ima-servisios img {
    height: 120px;
  }
  .ima-servisios h2 {
    font-size: 18px;
  }
  .bannerText {
    padding: 60px 0 0 0;
  }
  .bannerText h1 {
    font-size: 30px;
  }
  .bannerText p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .container {
    min-width: 100%;
  }
  .iconos-social {
    position: absolute;
    left: 30px;
  }
  .iconoInput {
    position: absolute;
    left: 70px;
    padding-top: 20px;
  }
}

@media (max-width: 575px) {
  .iconos-social {
    left: 25px;
  }
  .image-home {
    text-align: center;
    justify-content: center;
  }
  .image-home img {
    width: 80%;
    padding: 100px 0 30px 0;
    text-align: center;
  }
  .titulo-home h1 {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }
  .buscar input {
    height: 50px;
    width: 95%;
    padding: 0 0 0 50px;
  }
  .iconoInput {
    padding-top: 10px;
    left: 40px;
  }
  .section-padding {
    padding: 70px 0 0 0;
  }
  .ima-servisios img {
    height: 155px;
    margin: 0;
  }
  .footerQuidocu {
    font-size: 11px;
  }
  .footerQuidocu h3 {
    font-size: 13px;
  }
  .footerQuidocu ul li a {
    line-height: 20px;
  }
  .quien {
    padding: 70px 0px 0px 0px;
  }
}
